Strings

In [121]:
first_name="Venkata"
last_name="Prasad"
print(first_name +" "+ last_name)
#String_concatenation
full_name="Venkata Prasad"
print(full_name.upper())
print(full_name.lower())
print(full_name.isupper())
print(full_name.islower())
print(len(full_name))
print(full_name[8])

print(full_name[0:6])
print(full_name.index("P"))
print(full_name.index("ata"))
print(full_name.replace("Venkata","VK"))

Venkata Prasad
VENKATA PRASAD
venkata prasad
False
False
14
P
Venkat
8
4
VK Prasad

In [122]:
# print(full_name[-1])
# print(full_name[-2])
# print(full_name[-3])
# print(full_name[-4])
print("Length of the string:",len(full_name))
for i in range(15):
    if i==0:
        continue
    print(full_name[-i])

Length of the string: 14
d
a
s
a
r
P

a
t
a
k
n
e
V

In [123]:
print(type("50"))
print(type(50))
print(type(50.55))

<class 'str'>
<class 'int'>
<class 'float'>

In [124]:
from math import sqrt


print(5+5)
print("5+5")
print(5/2*5)
print(5/2*5+2.5)
print(5/2)
print(5%2)
print(int(5/2))
print(str(5/2)+"55")
#absolute
print(abs(-100))
#power
print(pow(2,3))
#min max
print(min(5,6,7,1))
print(max(1,2,9,10,45))
print(round(3.6))

10
5+5
12.5
15.0
2.5
1
2
2.555
100
8
1
45
4

In [125]:
a=input("Enter your name")
print("Your name",a)
print("Your name"+ " " +a)

Your name 55
Your name 55

List

In [126]:
name=["Kholi","Dhoni","Sachin"]
age=[32,39,45]
name.extend(age)
name.append("Dravid")
print(name)

['Kholi', 'Dhoni', 'Sachin', 32, 39, 45, 'Dravid']

How extend function works for 2D array ?

In [127]:
name.insert(1,"Yuvraj")
print(name)

['Kholi', 'Yuvraj', 'Dhoni', 'Sachin', 32, 39, 45, 'Dravid']

In [128]:
name.pop()
#name.clear()
print(name)

['Kholi', 'Yuvraj', 'Dhoni', 'Sachin', 32, 39, 45]

In [129]:
print(name.count(32))

1

In [130]:
name.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [131]:
age.sort()
print(age)

[32, 39, 45]

In [132]:
age.reverse()
print(age)

[45, 39, 32]

In [133]:
copy_name=name.copy()
print(copy_name)

['Dhoni', 'Kholi', 'Sachin', 'Yuvraj', 32, 39, 45]

Tuples

In [134]:
name=("Kholi","Dhoni","Sachin")
name[0]="Dravid"
#tuple is immutable

TypeError: 'tuple' object does not support item assignment

Functions

In [135]:
def print_name():
    print("Venkat")

In [136]:
#Function Call
print("Kholi")
print_name()

Kholi
Venkat

In [137]:
def print_name1(name,age):
    print("Name:"+name + " Age:",age)

In [138]:
print_name1("Venkat",24)

Name:Venkat Age: 24

Functions & Statements

In [139]:
def square(num):
    return num*num
square(5)

25

In [140]:
def square(num):
    print(num*num)
square(5)

25

In [141]:
def square(num):
    return num*num
print(square(5))

25

In [142]:
def square(num):
    return num*num
    print("Square")
square(5)

25

In [143]:
def square(num):
    print("Square")
    return num*num
print(square(5))

Square
25

IF

In [144]:
is_batsman=True
if is_batsman is True:
    print("you are a batsman")

you are a batsman

In [145]:
is_batsman=True
if is_batsman:
    print("you are a batsman")

you are a batsman

In [146]:
is_batsman=False
if is_batsman is True:
    print("you are a batsman")
else:
    print("You are not a batsman")

You are not a batsman

In [147]:
is_batsman=True
is_captain=True
if is_batsman and is_captain:
    print("you are a batsman and also a captain")

# and
# or

you are a batsman and also a captain

&: Bitwise AND operator
|: Bitwise OR operator
^: Bitwise XOR operator
~: Binary onesâ€™ complement operator
<<: Binary left shift operator
>>: Binary right shift operator
and: logical AND operator
or: logical OR operator
not: logical NOT operator

In [148]:
is_batsman=False
is_captain=False
if is_batsman or is_captain:
    print("you are atlest a batsman or a captain")
else:
    print("you are neither a batsman nor a captain")

you are neither a batsman nor a captain

In [149]:
is_batsman=True
is_captain=True
if is_batsman and is_captain:
    print("you are a batsman and also a captain")
elif is_batsman and not is_captain:
    print("You are batsman but not captain")
elif is_captain and not is_batsman:
    print("You are captain but not batsman")
else:
    print("you are neither a batsman nor a captain")

you are a batsman and also a captain

Dictionaries
key:values

In [150]:
month_names={
    "Jan":"January","Feb":"February","Mar":"March","Apr":"April"
}

print(month_names["Jan"])
print(month_names.get("Mar"))

January

In [155]:
month_names={
    "Jan":"January","Feb":"February","Mar":"March","Apr":"April"
}
#Formatting
print(month_names.get("Nov","Invalid key"))

Invalid key

Loops

In [4]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [160]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [161]:
crickers=["Kholi","Dhoni","Sachin"]
for i in crickers:
    print(i)

Kholi
Dhoni
Sachin

In [164]:
crickers=["Kholi","Dhoni","Sachin"]
full_name="Venkata Prasad"
for i in full_name:
    print(i)

V
e
n
k
a
t
a

P
r
a
s
a
d

2D List
Matrix

In [165]:
num=[1,2,3]
num1=[4,5,6]
num2d=[[1,2,3],[4,5,6]]
print(num2d)

[[1, 2, 3], [4, 5, 6]]

In [167]:
print(num2d[0][2])

3

In [168]:
for row in num2d:
    for col in row:
        print(col)

1
2
3
4
5
6

try expect

In [170]:
try:
    num=int(input("Enter number:"))
    print(num)
except:
    print("Invalid Input")

Invalid Input

In [173]:
try:
    num=int(input("Enter number:"))
    print(num)
# except ZeroDivisionError:
#     print("Dividing by zero")
except ValueError:
    print("Invalid Input")

Invalid Input

Read files

In [211]:
#Check_whether_file_is_readable
file=open(r"C:\Users\HP\OneDrive\Desktop\words learnt.txt")
print(file.readable())
#print(file.read())
#print(file.readline())
print(file.readlines())
print()
file.close()

True
['Ambiguity\n', 'Paradigms\n', 'Logistics- the detailed organisation and implementation of a complex operation.\n', 'consignments\n', 'Console- ']

In [210]:
#Check_whether_file_is_readable
file=open(r"C:\Users\HP\OneDrive\Desktop\words learnt.txt","a")
file.write("\nConsole- ")
file.close()

r- read
w- write
r+- both
a- append

Modules

#from another python file importing functions

import filename

filename.function1_name()
filename.function2_name()

#
from filename import function1_name

function1_name() #Calling the function

###Classes and Objects

In [214]:
class Batsman:
    def __init__(self,name,age,ipl_team):
        self.name=name
        self.age=age
        self.ipl_team=ipl_team

oject=Batsman("Virat_Kholi",32,"RCB")
oject1=Batsman("Dhoni",39,"CSK")
print(oject.name)
print(oject1.name)

Virat_Kholi
Dhoni

Functions & Objects

In [225]:
class Batsman:
    def __init__(self,name,age,ipl_team):
        self.name=name
        self.age=age
        self.ipl_team=ipl_team
    def print_fun(self):
        print(self.name)
        print(self.age)
        print(self.ipl_team)
oject=Batsman("Virat_Kholi",32,"RCB")
oject1=Batsman("Dhoni",39,"CSK")
oject.print_fun()
oject1.print_fun()

Virat_Kholi
32
RCB
Dhoni
39
CSK

Inheritance

In [228]:
class Human:
    #Here there is no init function which means there is no arguments passed
    #__init__ only defined by user if any arguments were passed
    def name(self):
        print("Name")
    def age(self):
        print("Age")
human=Human()
human.name()
human.age()
class Bats_man(Human):
    def runs(self):
        print("Runs Scored")
batsman=Bats_man()
batsman.name()
batsman.age()
batsman.runs()
#Bats_man class is derived from parent class; It can access the member functions of parent class.

Name
Age
Name
Age
Runs Scored

Sets

In [229]:
#Creating set
set1={1,1,2,3,4,5,6,7,7}
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [232]:
set2={}
type(set2)
#to create empty set we should use keyword function set({})
#otherwise python consideres it as a dictionary

dict

In [233]:
set2=set({})
type(set2)

set

In [242]:
set2.add(5)
set2.add(4)
set2.add(3)
set2.add(7)
set2.add(7)
set2.add(5)
set2.add(5)
set2.add(10)
print(set2)

set2.remove(10)
#It check whether the number in set and removes if present,show error if not present
print(set2)

set2.discard(11)
#It check whether the number in set and removes if present, dont show error if not present
print(set2)

#set2.clear()
#it clears all 

print(set2.pop())
#Pop removes randomly
print(set2)

{3, 4, 5, 7, 10}
{3, 4, 5, 7}
{3, 4, 5, 7}
3
{4, 5, 7}

Set operations

In [245]:
odds={1,3,5,7,9}
even={2,4,6,8}

print(odds.union(even))
print(odds.intersection(even))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
set()

In [248]:
set1={1,2,3,4,5}
set2=set1
#Need for set copying
set2.add(10)
print(set2)
print(set1)

{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 10}

In [249]:
set2=set1.copy()
set3=set(set1)